circle {
    fill: lightblue; 
    stroke: black;
} 

rect {
    stroke: black;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

#parallax1 {
    background-image: url('pics/icelandmtns.jpg');
}

