circle {
    fill: lightblue; 
    stroke: black;
} 

rect {
    stroke: black;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

#parallax1 {
    background-image: url('pics/icelandmtns.jpg');
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

