circle {
    fill: lightblue; 
    stroke: black;
} 

rect {
    stroke: black;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#parallax1 {
    opacity: 0.65;
    background-image: url('pics/icelandmtns.jpg');
    height: 100%;
}

.plot {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('pics/icelandmtns.jpg');
}